
body {
    background-color: whitesmoke;
    padding-left: 400px;
    padding-right: 400px;
    font-family: Arial;
    font-size: small;
    justify-self: center;
    display: block;
}

#cabecalho {
    display: block;
    
    .item {
        display: flex;
    }
}

#atributos{
    display:grid;
    grid-column: 1fr, 1fr, 1fr;
    .titulo{
        grid-column: span 3;
        justify-self: start;
    }
    #fisico{
        grid-column: 1;
        grid-row: 2;
        
    }
    #social {
        grid-column: 2;
        grid-row: 2;
        border: left width 10px, lightgray ;
    }
    #mental{
        grid-column: 3;
        grid-row: 2;
    }
    #especial{
        display: flex;
        justify-content: center;
        gap: 80px;
        grid-column: span 3;
    }    
    
}

#habilidades {
    display: grid;

    .titulo{
        grid-column: span 3;
        grid-row: 1;
        justify-self: start;
    }
    #hab{
        grid-column:span 3;
        grid-row: 2;

        display: grid;
        grid-column: repeat(3, 1fr) ;
    }

}

#trunfoDistincoes{
    display: grid;
}

#rolarDados {
    display: flexbox;

    .titulo{
        grid-column: span 3;
        grid-row: 1;
    }
    #resultado {
        grid-column: span 3;
        grid-row: 2;
        justify-self: center;

        display: flex;
       /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1, 1fr;
        .titulo{
            grid-row: 1;
            grid-column: span 3;
        }
        #res1{
            grid-row: 2;
            grid-column: 1;
        }
        #res2{
            grid-column: 2;
            grid-row: 2;
        }
        #res3{
            grid-row: 2;
            grid-column: 3;
        }*/
    }

}

